@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins', sans-serif;
}
/*Navegador*/
.navbar {
    padding-top: 20px; /* Ajusta el valor según sea necesario para aumentar la altura del navbar hacia arriba */
    padding-bottom: 10px; /* Ajusta el valor según sea necesario para aumentar la altura del navbar hacia abajo */
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    height: 100%; /* Asegura que el contenido ocupe toda la altura del navbar */
}

.navbar-brand img {
    width: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.me-2 a {
    text-decoration: none;
}

/*Carrusel*/
.carousel-item{
    min-height: 400px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}
.carousel-caption p {
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}
