
/*Navegador*/
.navbar {
    padding-top: 20px; /* Ajusta el valor según sea necesario para aumentar la altura del navbar hacia arriba */
    padding-bottom: 10px; /* Ajusta el valor según sea necesario para aumentar la altura del navbar hacia abajo */
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    height: 100%; /* Asegura que el contenido ocupe toda la altura del navbar */
}

.navbar-brand img {
    width: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.me-2 a {
    text-decoration: none;
}