
.recetas-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espacio entre las recetas */
    margin-top: 200px;
}

.receta {
    flex-basis: calc(33.33% - 20px); /* Calcula el ancho de cada receta (33.33% con espacio entre ellas) */
    margin-bottom: 20px; /* Espacio entre las recetas */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.receta img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.receta a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.receta a:hover {
    color: #555;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
}
/*barra de navegacion*/
.navbar {
    padding-top: 35px; /* Ajusta el valor según sea necesario para aumentar la altura del navbar hacia arriba */
    padding-bottom: 35px; /* Ajusta el valor según sea necesario para aumentar la altura del navbar hacia abajo */
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    height: 100%; /* Asegura que el contenido ocupe toda la altura del navbar */
}

.navbar-brand img {
    width: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.me-2 a {
    text-decoration: none;
}